@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
	scroll-behavior: smooth;

}
body {
	font-family: 'Open Sans', sans-serif;
}
#container {
	margin: 0px 10px 0px 10px;
	
    display: flex;
    flex-direction: column;
    align-items: center;

	margin-top: 30px;

    margin-left: 10px;
	margin-right: 10px;
}

#intro, #examples, #ethical, #future {
	color: black;
}

h1 {
	margin-top: 50px;
}


nav{ 
	width: 100%; 
	display: block;
	position: fixed; /* Set the navbar to fixed position */
  	right: 5px;
	top: 0px;
	margin: auto; 
	background-color: rgb(120, 173, 190);
	padding: 15px;

	

	
	
} 
 
nav ul{ 
	list-style: none; 
	margin: auto;  
	width: 800px; 
	display: block; 
} 
 
nav ul li{ 
	display:  inline-block; 
	min-width: 190px; 
	width: 190px; 
	

    
    
} 


nav ul a {
    text-decoration: none;
    color: black;
    padding: 15px;
}



nav a:hover {
    background-color: lightgray;
}

#intro {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	text-align: center;
}

#canada {
	display: flex;
	flex-direction: column;
	justify-items: center;
}

#canada > img {
	margin: auto;
}

.caption {
	text-align: center;
}

#para1 {
	display: flex;
	flex-direction: row;
	gap: 15px;
	padding-bottom: 40px;
	border-bottom: 1px solid black;
}

#para1 > p {
	line-height: 2.2em;
}

#caption2 {
	position:relative ;
	top: 380px;
	left:0px;
}

#estonia2 {
	display: flex;
	flex-direction: row;
	gap: 20px;
}


#imgSingapore {
	margin-left: 23%;
}

.img {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.centerText {
	text-align: center;
}

.hidden {
	display: none;

}

.anchor {
	display: block;
	 position: relative;
	top: -250px;
	 visibility: hidden;

}

a:hover {
	color: rgb(126, 2, 2);
}

@media screen and (max-width:500px) {

	nav {
		display: flex;
		flex-direction: column;
	}

	
}

blockquote {
	font-weight: bolder;
	text-align: center;
}